body {
    background-color: #e9eed4;
    font-family: Georgia, 'Times New Roman', serif;
    color: #111;
}

.header {
    font-family: Verdana, sans-serif;
}

.recipe-pic {
    height: 400px;
    width: auto;
}

h2.header {
    color: #703030;
}

.recipe {
    font-style: italic;
}